@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  cursor: default;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

input {
  cursor: text;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  overflow: auto;
  width: 100%;
  line-height: 1;
  font-family: "Lato", sans-serif;
  color: black;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
}

body {
  height: 100%;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page {
  flex: 1 1 auto;
}

.arrow {
  position: absolute;
  width: 80px;
  height: 50px;
  z-index: 10;
  top: 50%;
}

.arrow-left {
  left: 3%;
  right: auto;
}
@media (min-width: 1600px) {
  .arrow-left {
    left: 10%;
  }
}

.arrow-right {
  right: 3%;
  left: auto;
}
@media (min-width: 1600px) {
  .arrow-right {
    right: 10%;
  }
}

.arrow div {
  height: 100%;
}
.arrow div:focus {
  outline: none;
}

.arrow div::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 10px;
  top: 9px;
  background-color: #e76b05;
  transform: rotate(-45deg);
}

.arrow div::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 10px;
  top: 31px;
  background-color: #e76b05;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(45deg);
}

.arrow-right div {
  transform: rotate(180deg);
}

.arrow-right:active {
  transform: translateX(5px);
  transition: transform 0.1s ease 0s;
}

.arrow-left:active {
  transform: translateX(-5px);
  transition: transform 0.1s ease 0s;
}

.police__content {
  margin: 100px auto;
}
.police__content h1 {
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .police__content h1 {
    font-size: calc(18px + 11.9 * ((100vw - 320px) / 1330));
  }
}
@media (min-width: 767.98px) {
  .police__content h1 {
    font-size: calc(18px + 7 * (100vw / 1330));
  }
}
.police__content p {
  padding: 10px 0px;
  line-height: 25px;
}
@media (max-width: 767.98px) {
  .police__content p {
    font-size: calc(16px + 3.4 * ((100vw - 320px) / 1330));
  }
}
@media (min-width: 767.98px) {
  .police__content p {
    font-size: calc(16px + 2 * (100vw / 1330));
  }
}

[class*=__container] {
  max-width: 1330px;
  margin: 0px auto;
  padding: 0px 25px;
}

/* PC */
@media (max-width: 1199.98px) {
  [class*=__container] {
    max-width: 970px;
  }
}
/* TABLET */
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 780px;
  }
}
/* MOBILE */
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }
}
/* MOBILE SMALL*/
@media (max-width: 479.98px) {
  [class*=__container] {
    max-width: none;
  }
}
@font-face {
  font-family: CormorantUpright;
  font-display: swap;
  src: url("../fonts/CormorantUpright-Bold.woff2") format("woff2"), url("../fonts/CormorantUpright-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: CormorantUpright;
  font-display: swap;
  src: url("../fonts/CormorantUpright-Regular.woff2") format("woff2"), url("../fonts/CormorantUpright-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: TTTrailers;
  font-display: swap;
  src: url("../fonts/TTTrailers-Regular.woff2") format("woff2"), url("../fonts/TTTrailers-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: CormorantUpright;
  font-display: swap;
  src: url("../fonts/CormorantUpright-SemiBold.woff2") format("woff2"), url("../fonts/CormorantUpright-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
.button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  font-family: Montserrat;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 0em;
  padding: 1.5em 1em;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.4em;
  transition: all 0.5s ease 0s;
}
.button span {
  cursor: pointer;
}

.burger {
  font-size: 41px;
  width: 1em;
  height: 0.75em;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}
.burger::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.burger span {
  display: block;
  position: absolute;
  height: 0.05em;
  width: 100%;
  background: #000;
  background: #e4e4e4;
  border-radius: 0.15em;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.burger span:nth-child(1) {
  top: 0px;
}
.burger span:nth-child(2), .burger span:nth-child(3) {
  top: 0.3em;
}
.burger span:nth-child(4) {
  top: 0.6em;
}
.open.burger span:nth-child(1) {
  top: 0.3em;
  width: 0%;
  left: 50%;
}
.open.burger span:nth-child(2) {
  transform: rotate(45deg);
}
.open.burger span:nth-child(3) {
  transform: rotate(-45deg);
}
.open.burger span:nth-child(4) {
  top: 0.3em;
  width: 0%;
  left: 50%;
}

.burger {
  display: none;
}
@media (max-width: 991.98px) {
  .burger {
    display: block;
    position: relative;
    z-index: 2;
    top: 0.05em;
  }
}

.title {
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  font-style: normal;
  line-height: 43px;
}
@media (max-width: 767.98px) {
  .title {
    font-size: calc(18px + 11.9 * ((100vw - 320px) / 1330));
  }
}
@media (min-width: 767.98px) {
  .title {
    font-size: calc(18px + 7 * (100vw / 1330));
  }
}
.title::after {
  content: "";
  background-color: #f28c2e;
  height: 2px;
  width: 10%;
  position: absolute;
  bottom: -10px;
  left: 45%;
}

.top-button.show {
  bottom: 2%;
  transition: bottom 0.5s ease 0s;
}

.top-button {
  position: fixed;
  bottom: -100%;
  left: 2%;
  border-radius: 50%;
  width: 49px;
  height: 49px;
  background: #ff0000c2;
  color: #fff;
  opacity: 0.5;
  z-index: 999;
  transition: bottom 0.5s ease 0.25s;
}
.top-button span::before, .top-button span::after {
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  top: 22px;
  background-color: #fff;
}
.top-button span::before {
  left: 21px;
  transform: rotate(45deg);
}
.top-button span::after {
  right: 21px;
  transform: rotate(-45deg);
}
.top-button:hover {
  opacity: 1;
  transition: opacity 0.5s ease 0s;
}
.top-button:hover span::before, .top-button:hover span::after {
  animation: top-down 1.3s infinite linear;
}
@keyframes top-down {
  0% {
    top: 20px;
  }
  50% {
    top: 25px;
  }
  100% {
    top: 19px;
  }
}

@media (max-width: 991.98px) {
  .top-button,
.top-button.show {
    display: none;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  box-shadow: 0px 4px 5px 0px #00000025;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #120e0ee8;
  z-index: 2;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
@media (max-width: 1199.98px) {
  .header__body {
    height: 65px;
  }
}
@media (max-width: 767.98px) {
  .header__body {
    height: 60px;
  }
}
.header__logo {
  position: relative;
  display: none;
  flex: 0 0 50px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 3;
}
.header__logo img {
  max-width: 100%;
  display: block;
}
.header__burger {
  order: 3;
  z-index: 3;
}
@media (max-width: 991.98px) {
  .header__menu {
    position: fixed;
    overflow: auto;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1d1d1dfa;
    text-align: center;
    transition: all 0.5s ease 0s;
  }
  .header__menu.open {
    top: 0;
  }
}
.header__list {
  display: flex;
  position: relative;
  z-index: 3;
}
.header__list li {
  padding: 0px 0px 0px 17px;
}
.header__list li:first-child {
  padding: 0px 0px 0px 0px;
}
@media (max-width: 991.98px) {
  .header__list {
    display: block;
    margin: 95px 0px 0px 0px;
  }
  .header__list li {
    padding: 15px 10px;
  }
  .header__list li:first-child {
    padding: 15px 10px;
  }
}
.header__link {
  color: #eeeeee;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 0.9;
  transition: color 0.5s ease 0s;
  line-height: 22px;
}
.header__link:hover {
  color: #fff;
  text-shadow: 0px 0px 1px white;
}
@media (max-width: 1199.98px) {
  .header__link {
    font-size: 14px;
  }
}
@media (max-width: 991.98px) {
  .header__link {
    display: block;
    color: #f0f0f0;
    text-transform: uppercase;
    line-height: 50px;
    padding: 5px 0px;
  }
}
@media (max-width: 991.98px) and (max-width: 767.98px) {
  .header__link {
    font-size: calc(30px + 34 * ((100vw - 320px) / 1330));
  }
}
@media (max-width: 991.98px) and (min-width: 767.98px) {
  .header__link {
    font-size: calc(30px + 20 * (100vw / 1330));
  }
}
.header__button {
  order: 2;
  z-index: 3;
  font-size: 0.9em;
  color: #fff;
  background-color: #ff6928;
  box-shadow: 0px 0px 0.25em #ff6928;
}
@media (min-width: 991.98px) {
  .header__button:hover {
    background-color: #ff5328;
  }
  .header__button:active {
    background-color: #9e3f16;
    box-shadow: 0px 0px 0px 0px;
    transition: all 0s ease 0s;
  }
  .header__button:active span {
    opacity: 0.7;
  }
}
@media (max-width: 1199.98px) {
  .header__button {
    font-size: 0.8em;
  }
}
@media (max-width: 767.98px) {
  .header__button {
    font-size: 0.75em;
  }
}
@media (max-width: 479.98px) {
  .header__button {
    font-size: 0.7em;
  }
}

.connection {
  display: flex;
  z-index: 3;
}
.connection .animation {
  transform: rotate(5deg);
}
.connection__logo {
  padding: 0px 15px 0px 0px;
}
@media (max-width: 767.98px) {
  .connection__logo img {
    width: 35px;
  }
}
.connection__phone {
  color: #eeeeee;
  font-size: 25px;
  font-weight: 600;
}
@media (max-width: 1199.98px) {
  .connection__phone {
    font-size: 20px;
    line-height: 26px;
  }
}
@media (max-width: 767.98px) {
  .connection__phone {
    display: none;
  }
}
.connection__text {
  color: #db3228;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  text-align: end;
  text-transform: lowercase;
  letter-spacing: 0.07em;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.25);
}
@media (max-width: 1199.98px) {
  .connection__text {
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 767.98px) {
  .connection__text {
    display: none;
  }
}

.intro {
  overflow: hidden;
  height: 100vh;
  background: #000;
  display: flex;
  align-items: center;
}
.intro__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}
.intro__logo img {
  width: 800px;
}
@media (max-width: 1199.98px) {
  .intro__logo img {
    width: 700px;
  }
}
@media (max-width: 991.98px) {
  .intro__logo img {
    width: 100%;
  }
}
.intro__text {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 150%;
  font-weight: 500;
  padding: 0px 0px 5vh 0px;
}
@media (max-width: 767.98px) {
  .intro__text {
    font-size: calc(12px + 22.1 * ((100vw - 320px) / 1330));
  }
}
@media (min-width: 767.98px) {
  .intro__text {
    font-size: calc(12px + 13 * (100vw / 1330));
  }
}
@media (max-width: 479.98px) {
  .intro__text {
    padding: 0px 0px 25px 0px;
  }
}
.intro__button {
  color: #fff;
  background-color: #ee4a39;
  box-shadow: 0px 0px 0.25em #ee4a39;
  padding-top: 1.7em;
  padding-bottom: 1.7em;
}
@media (min-width: 991.98px) {
  .intro__button:hover {
    background-color: #ff2d16;
  }
  .intro__button:active {
    background-color: #b43426;
    box-shadow: 0px 0px 0px 0px;
    transition: all 0s ease 0s;
  }
  .intro__button:active span {
    opacity: 0.7;
  }
}
@media (max-width: 1199.98px) {
  .intro__button {
    font-size: 0.9em;
  }
}
@media (max-width: 767.98px) {
  .intro__button {
    font-size: 0.8em;
  }
}
@media (max-width: 479.98px) {
  .intro__button {
    font-size: 0.65em;
  }
}

.benefit {
  background-color: #ffc061;
  padding: 70px 0px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}
@media (max-width: 767.98px) {
  .benefit {
    padding: 0px;
  }
}
.benefit__block {
  display: flex;
  flex-direction: column;
  background: #ffc369;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 25px 110px 40px;
}
@media (max-width: 1233.99px) {
  .benefit__block {
    padding: 25px 60px 40px;
  }
}
@media (max-width: 1199.98px) {
  .benefit__block {
    padding: 25px 15px 40px;
  }
}
@media (max-width: 991.98px) {
  .benefit__block {
    padding: 25px 0px 40px;
  }
}
@media (max-width: 767.98px) {
  .benefit__block {
    background: inherit;
    box-shadow: none;
    border-radius: 0px;
  }
}
.benefit__title {
  align-self: center;
  padding: 0px 22px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  margin: 0px 0px 40px 0px;
  font-style: normal;
  font-weight: 500;
  line-height: 43px;
}
@media (max-width: 767.98px) {
  .benefit__title {
    font-size: calc(18px + 20.4 * ((100vw - 320px) / 1330));
  }
}
@media (min-width: 767.98px) {
  .benefit__title {
    font-size: calc(18px + 12 * (100vw / 1330));
  }
}
@media (max-width: 767.98px) {
  .benefit__title {
    margin: 0px 0px 20px 0px;
  }
}
.benefit__title::after {
  content: none;
}
.benefit__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .benefit__items {
    flex-wrap: nowrap;
    overflow: auto;
    justify-content: left;
  }
}
.benefit__item {
  width: 300px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  text-transform: uppercase;
  margin: 10px;
}
@media (max-width: 1199.98px) {
  .benefit__item {
    width: 276px;
  }
}
@media (max-width: 767.98px) {
  .benefit__item {
    flex: 0 0 85%;
  }
}
.benefit__explanation {
  text-align: center;
  color: #141313;
  padding: 10px 20px;
}
@media (max-width: 767.98px) {
  .benefit__explanation {
    font-size: calc(9px + 3.4 * ((100vw - 320px) / 1330));
  }
}
@media (min-width: 767.98px) {
  .benefit__explanation {
    font-size: calc(9px + 2 * (100vw / 1330));
  }
}
.benefit__explanation a {
  color: #030472;
}
.benefit__explanation a:hover {
  text-decoration: underline;
}

.item-benefit__image {
  width: 200px;
  margin: 20px auto;
}
.item-benefit__image img {
  min-width: 100%;
}
.item-benefit__text {
  margin: 20px 0px 0px 0px;
  padding: 18px 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

@keyframes arrowGo {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-30%, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
.question {
  background-color: #ffc0611a;
  padding: 80px 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}
@media (max-width: 991.98px) {
  .question {
    display: none;
  }
}
.question__title {
  margin: 0px 0px 90px 0px;
}
.question__items {
  display: flex;
  justify-content: space-between;
  padding: 0px 70px;
}
.question__item {
  min-width: 33.333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.question__arrow {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 50px;
  transform: translate(-50%, -50%);
  animation: arrowGo 2.3s ease-in-out infinite;
}
@media (max-width: 1199.98px) {
  .question__arrow {
    width: 30px;
  }
}

.item-question__images {
  position: relative;
}
.item-question__image {
  max-width: 200px;
}
.item-question__image img {
  width: 100%;
}
@media (max-width: 1199.98px) {
  .item-question__image {
    max-width: 150px;
  }
}
.item-question__icon {
  position: absolute;
  bottom: 0;
  right: 0;
}
.item-question__description {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0px 0px 0px;
  max-width: 60%;
  padding: 10px 5px;
  border-radius: 5px;
  background-color: #ffffff80;
  box-shadow: 2px 3px 5px #0000001a;
}
.item-question__text {
  text-align: center;
  line-height: 1.2;
}
@media (max-width: 767.98px) {
  .item-question__text {
    font-size: calc(10px + 10.2 * ((100vw - 320px) / 1330));
  }
}
@media (min-width: 767.98px) {
  .item-question__text {
    font-size: calc(10px + 6 * (100vw / 1330));
  }
}
.item-question__text span {
  color: #e7740b;
  font-weight: 700;
}
.item-question__button {
  margin: 10px 30px 0px;
  font-size: 0.65em;
  color: #fff;
  background-color: #ee4a39;
  box-shadow: 0px 0px 0.25em #ee4a39;
}
@media (min-width: 991.98px) {
  .item-question__button:hover {
    background-color: #ff2e17;
  }
  .item-question__button:active {
    background-color: #a5382c;
    box-shadow: 0px 0px 0px 0px;
    transition: all 0s ease 0s;
  }
  .item-question__button:active span {
    opacity: 0.7;
  }
}
@media (max-width: 1199.98px) {
  .item-question__button {
    font-size: 0.6em;
  }
}
@media (max-width: 767.98px) {
  .item-question__button {
    font-size: 0.5em;
  }
}
@media (max-width: 479.98px) {
  .item-question__button {
    font-size: 0.4em;
  }
}

.services {
  position: relative;
  background-color: #fff9ef;
  padding: 50px 0px 90px;
}
.services__title {
  margin: 0px 0px 50px 0px;
}
.services__pagination {
  position: relative;
  height: 30px;
}
.services__pagination .swiper-pagination {
  bottom: 0;
}
.services__pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fc6b18;
}

.services-slider {
  position: relative;
  width: 100%;
  padding: 10px 0px;
  overflow: hidden;
}
.services-slider__wrapper {
  padding: 0px 60px;
}
.services-slider__item {
  min-width: 300px;
  min-height: 350px;
}

.item-services {
  display: flex;
  max-width: 350px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 2% 3%;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.07em;
}
.item-services__image {
  width: 100%;
  transition: all 0.3s ease 0s;
}
.item-services__image img {
  cursor: pointer;
  max-width: 100%;
}
.item-services__image:hover {
  transform: scale(0.99);
}
.item-services__title {
  color: #ee4a39;
  font-weight: 700;
  padding: 10px 0px;
}
@media (max-width: 767.98px) {
  .item-services__title {
    font-size: calc(14px + 13.6 * ((100vw - 320px) / 1330));
  }
}
@media (min-width: 767.98px) {
  .item-services__title {
    font-size: calc(14px + 8 * (100vw / 1330));
  }
}
.item-services__subtitle {
  line-height: 30px;
}
@media (max-width: 767.98px) {
  .item-services__subtitle {
    font-size: calc(10px + 13.6 * ((100vw - 320px) / 1330));
  }
}
@media (min-width: 767.98px) {
  .item-services__subtitle {
    font-size: calc(10px + 8 * (100vw / 1330));
  }
}

.reviews {
  position: relative;
  z-index: 5;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 35px 0px 40px;
}
.reviews__container {
  position: relative;
}
@media (max-width: 991.98px) {
  .reviews__title::after {
    content: none;
  }
}
.reviews__wrapper {
  padding: 0px 30px;
}
@media (max-width: 1199.98px) {
  .reviews__wrapper {
    padding: 0px;
  }
}
.reviews__swiper {
  padding: 0px 30px;
}
.reviews__items {
  margin-bottom: 40px;
}
.reviews__arrow {
  transition: transform 0.3s ease 0s;
}
.reviews__arrow::after {
  cursor: pointer;
}
@media (max-width: 1199.98px) {
  .reviews__arrow {
    display: none;
  }
}
.reviews__arrow:hover {
  transition: transform 0.3s ease 0s;
}
@media (min-width: 991.98px) {
  .reviews__arrow:hover {
    transform: scale(1.2);
  }
}
.item-reviews__photo {
  background: #ffffff;
  position: relative;
  left: 50%;
  top: 75px;
  width: 150px;
  height: 150px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  transform: translate(-50%);
}
@media (max-width: 1199.98px) {
  .item-reviews__photo {
    width: 120px;
    height: 120px;
    top: 60px;
  }
}
.item-reviews__img {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  cursor: pointer;
  box-shadow: 0px 0px 2px 1px #999898;
}
.item-reviews__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 90px 40px 25px;
  height: 360px;
}
.item-reviews__empty {
  opacity: 0;
}
.item-reviews__text {
  position: relative;
  top: 0;
  left: 0;
  line-height: 1.2;
  text-align: center;
  z-index: 1;
}
@media (max-width: 767.98px) {
  .item-reviews__text {
    font-size: calc(12px + 6.8 * ((100vw - 320px) / 1330));
  }
}
@media (min-width: 767.98px) {
  .item-reviews__text {
    font-size: calc(12px + 4 * (100vw / 1330));
  }
}
.item-reviews__text p {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -55%);
}
.item-reviews__name {
  position: relative;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
}
@media (max-width: 767.98px) {
  .item-reviews__name {
    font-size: calc(15px + 3.4 * ((100vw - 320px) / 1330));
  }
}
@media (min-width: 767.98px) {
  .item-reviews__name {
    font-size: calc(15px + 2 * (100vw / 1330));
  }
}

.feedback {
  padding: 5% 0px;
}
@media (max-width: 991.98px) {
  .feedback {
    padding: 10% 0px;
  }
}
.feedback__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px 90px;
}
@media (max-width: 1199.98px) {
  .feedback__row {
    padding: 0px 0px;
  }
}
@media (max-width: 991.98px) {
  .feedback__row {
    justify-content: center;
  }
}
.feedback__block {
  width: 50%;
  margin: 0px 20px 0px 0px;
}
@media (max-width: 991.98px) {
  .feedback__block {
    margin: 0px 0px 0px 0px;
    flex: 0 0 80%;
  }
}
@media (max-width: 767.98px) {
  .feedback__block {
    flex: 0 0 90%;
  }
}
@media (max-width: 479.98px) {
  .feedback__block {
    flex: 0 0 100%;
  }
}
.feedback__block-2 {
  margin: 0px 0px 0px 20px;
}
@media (max-width: 991.98px) {
  .feedback__block-2 {
    display: none;
  }
}
.feedback__form {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 100px;
}
@media (max-width: 1199.98px) {
  .feedback__form {
    padding: 70px 80px;
  }
}
@media (max-width: 991.98px) {
  .feedback__form {
    padding: 65px 95px;
  }
}
@media (max-width: 767.98px) {
  .feedback__form {
    padding: 50px 15%;
  }
}
@media (max-width: 479.98px) {
  .feedback__form {
    padding: 30px 10%;
  }
}
.feedback__image img {
  display: block;
  margin: 0 auto;
  max-width: 80%;
}
@media (max-width: 1199.98px) {
  .feedback__image img {
    max-width: 90%;
  }
}
.feedback__text {
  font-size: 14px;
  text-align: center;
  color: #1f1d1d;
  font-weight: 300;
  font-style: italic;
  line-height: 20px;
  width: 70%;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 300px;
}
@media (max-width: 1199.98px) {
  .form {
    flex: 0 0 280px;
  }
}
@media (max-width: 767.98px) {
  .form {
    flex: 0 0 260px;
  }
}
@media (max-width: 479.98px) {
  .form {
    flex: 0 0 250px;
  }
}
@media (max-width: 767.98px) {
  .form__title {
    font-size: calc(16px + 15.3 * ((100vw - 320px) / 1330));
  }
}
@media (min-width: 767.98px) {
  .form__title {
    font-size: calc(16px + 9 * (100vw / 1330));
  }
}
.form__title::after {
  content: none;
}
.form__inputs {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}
.form__input {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 15px 10px;
  margin: 0px 0px 20px 0px;
}
@media (max-width: 991.98px) {
  .form__input {
    padding: 12px 10px;
  }
}
@media (max-width: 767.98px) {
  .form__input {
    padding: 10px 10px;
  }
}
.form__input:last-child {
  margin: 0px 0px 0px 0px;
}
.form__police {
  align-self: flex-start;
}
@media (max-width: 767.98px) {
  .form__police {
    font-size: calc(9px + 1.7 * ((100vw - 320px) / 1330));
  }
}
@media (min-width: 767.98px) {
  .form__police {
    font-size: calc(9px + 1 * (100vw / 1330));
  }
}
.form__police a {
  color: #2333be;
}
.form__police a:hover {
  text-decoration: underline;
}
.form__button {
  color: #fff;
  background-color: #ee4a39;
  box-shadow: 0px 0px 0.25em #ee4a39;
}
@media (min-width: 991.98px) {
  .form__button:hover {
    background-color: #ff2d16;
  }
  .form__button:active {
    background-color: #b43426;
    box-shadow: 0px 0px 0px 0px;
    transition: all 0s ease 0s;
  }
  .form__button:active span {
    opacity: 0.7;
  }
}
@media (max-width: 767.98px) {
  .form__button {
    font-size: calc(12px + 3.4 * ((100vw - 320px) / 1330));
  }
}
@media (min-width: 767.98px) {
  .form__button {
    font-size: calc(12px + 2 * (100vw / 1330));
  }
}

.footer {
  background-color: #2d2d2d;
  box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.25);
  z-index: 2;
}
.footer__body {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .footer__body {
    flex-direction: column;
    padding: 15px 0;
  }
}
.footer__block {
  padding: 0 15px;
  text-align: center;
  font-family: sans-serif;
  width: 33.33333%;
  order: 1;
}
@media (max-width: 767.98px) {
  .footer__block {
    width: 100%;
    padding: 15px 0px 15px 0px;
  }
}
.footer__block-adress {
  order: 1;
}
.footer__block-social {
  order: 2;
}
@media (max-width: 767.98px) {
  .footer__block-social {
    order: 3;
  }
}
.footer__block-text {
  order: 3;
}
@media (max-width: 767.98px) {
  .footer__block-text {
    order: 2;
  }
}
.footer__title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.footer__address {
  font-size: 15px;
  line-height: 1.5;
  font-style: normal;
  color: rgba(255, 255, 255, 0.5);
}
.footer__text {
  font-size: 15px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 767.98px) {
  .block-footer {
    position: relative;
  }
  .block-footer__title {
    opacity: 0.75;
  }
}
@media (max-width: 767.98px) and (max-width: 767.98px) {
  .block-footer__title {
    font-size: calc(16px + 6.8 * ((100vw - 320px) / 1330));
  }
}
@media (max-width: 767.98px) and (min-width: 767.98px) {
  .block-footer__title {
    font-size: calc(16px + 4 * (100vw / 1330));
  }
}
@media (max-width: 767.98px) {
  .block-footer__title::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    bottom: 20%;
    left: 10%;
    background-color: #fff;
    opacity: 0.1;
    transform: scaleX(1);
    transition: transform 0.2s ease 0.2s;
  }
}
@media (max-width: 767.98px) {
  .block-footer__content {
    height: 0px;
    transform: scale(0);
    transition: all 0.2s ease 0s;
  }
}
@media (max-width: 767.98px) {
  .block-footer.open .block-footer__title {
    opacity: 1;
  }
  .block-footer.open .block-footer__title::after {
    transform: scaleX(0);
    transition: transform 0.3s ease 0s;
  }
  .block-footer.open .block-footer__content {
    height: 100%;
    transform: scale(1);
    transition: transform 0.5s ease 0.05s;
  }
}
.copyright {
  padding: 15px 0;
  background-color: #181818;
}
.copyright__text {
  text-align: center;
  line-height: 1.5;
  color: #808080;
}
@media (max-width: 767.98px) {
  .copyright__text {
    font-size: calc(11px + 5.1 * ((100vw - 320px) / 1330));
  }
}
@media (min-width: 767.98px) {
  .copyright__text {
    font-size: calc(11px + 3 * (100vw / 1330));
  }
}
.copyright__text > div:last-child span {
  color: #fff;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__item {
  border: 2px solid #000000;
  border-radius: 50%;
  margin: 0px 5px 0px 0px;
  border: 1px solid #ffffff;
  transition: background 0.2s linear;
}
.social__item:last-child {
  margin: 0px;
}
@media (min-width: 991.98px) {
  .social__item:hover {
    background-color: #ffffff;
  }
}
.social__icon {
  display: block;
  width: 35px;
  height: 35px;
  padding: 8px;
  cursor: pointer;
  fill: #ffffff;
  transition: fill 0.2s linear;
}
@media (min-width: 991.98px) {
  .social__icon:hover {
    fill: #0e0e0e;
  }
}
.social__icon > use {
  cursor: pointer;
}