// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ++++++++++++++++++++++++++++++++++++++ GLOBAL SETTINGS ++++++++++++++++++++++++++++++++++++++
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// ---------------------------------------- import fonts ---------------------------------------
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

// ------------------------------------- Block body setings ------------------------------------
$bodyWidth: 100%; // Ширина блока body
$bodyHeight: 100%; // Высота блока body

// ------------------------------------- Container setings -------------------------------------
$containerWidth: 1330px; // Ширина контейнера
$containerPadding: 25px; // Отступы безопасности

// ------------------------------------- Breakpoint setings ------------------------------------
$pc: 1199.98px; // Брекпоинт для ПК
$tablet: 991.98px; // Брекпоинт для Планшета
$mobile: 767.98px; // Брекпоинт для Телефона
$mobileSmall: 479.98px; // Брекпоинт для мини телефона

// --------------------------------------- Adaptiv Font ----------------------------------------
$maxWidth: 1330;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;
    @media (max-width: 767.98px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    }
    @media (min-width: 767.98px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }
}

// --------------------------------------- Text settings ---------------------------------------
$fontFamily: "Lato", sans-serif; // Семейство шрифтов по умолчанию
$colorText: rgb(0, 0, 0); // Цвет текста по умолчанию
$fontSize: 16px; // Размер шрифта по умолчанию (задаётся в: px, em, rem, vw, vh, %)
$lineHeight: 1; // Межстрочный интервал (задаётся в единицах: px, em, rem, vw, vh, %)
$fontStyle: normal; // Начертание шрифта (normal, italic, oblique)
$fontWeight: 400; // Насыщенность шрифта (100-900)
$textAlign: left; // Горизонтальное выравнивание текста (start, end, left, right, center, justify)
$textTransform: none; // Регистр текста (none, uppercase, lowercase, capitalize)
$letterSpacing: normal; // Интервал между символами (norma, px, em, rem, vh, vw)

// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// ----------------------------------------------------------------------------------------------

// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// +++++++++++++++++++++++++++++++++++++++ HEADER SETTINGS ++++++++++++++++++++++++++++++++++++++
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// -------------------------------------- Header settings ---------------------------------------
$sizeHeader: 75px; // Размер header
$bgColorHeader: #120e0ee8; // Задний фон header
$shadowColorHeader: #00000025; // Цвет тени header
$shadowHeightHeader: 4px; // Размер тени header
$shadowBlurHeader: 5px; // Размытие тени header
$shadowIncreaseHeader: 0px; // Распространение тени header

// ----------------------------------- Header menu settings ------------------------------------
$marginTopMenu: 20; // Отступ пунктов меню от блока header (!!! указывать без ед. измерения !!!)
$colorMenu: #eeeeee; // Цвет текста меню
$textTransformMenu: uppercase; // Регистр пунктов меню (none, uppercase, lowercase, capitalize)
$fontSizeMenu: 16px; // Размер шрифта текста меню (задаётся в: px, em, rem, vw, vh, %)
$paddingTextMenu: 17px; // Размер отступа пунктов меню (задаётся в: px, em, rem, vw, vh, %)

// ------------------------------------ Header logo settings ------------------------------------
$showLogoHeader: no; // Что бы убрать логотип прописываем: no
$borderLogoHeader: 50%; // Скругление углов логотипа
$sizeLogo: 50px; // размер лого

// ------------------------------------ Burger icon settings ------------------------------------
$selectBurger: 1; // Выбрать дизайн иконки бургера (от 1 до 6, ОБЯЗАТЕЛЬНО указать стиль бургера в HTML))
$selectDevice: $tablet; // На каком устройстве должен появится бургер ($pc, $tablet, $mobile, $mobileSmall)
$colorBurger: #e4e4e4; // Выбрать цвет иконки бургера (по умолчанию: #000)
$sizehBurger: 41px; // Выбрать размер иконки бургера в px (по умолчанию: 16px)
$weightBurger: 400; // Выбрать толшину линий бургера (выбрать: 400, 700, 900 (по умолчанию: 900))
$speed: 3; // Задать скорость анимации иконки бургера (выбрать от 1 до 4 (по умолчанию: 3))
$side: left; // Выбрать сторону анимации иконки бургера (left или right (по умолчанию: left))

// ----------------------------------- Burger menu settings ------------------------------------
$menuExitSide: top; // Выбрать сторону вылета меню бургер (left, right, top, bottom (по умолчанию: top))
$bgColorBurgerMenu: #1d1d1dfa; // Задний фон меню бургер
$colorBurgerMenu: #f0f0f0; // Цвет текста меню бургер
$textTransformBurgerMenu: uppercase; // Регистр пунктов меню бургер (none, uppercase, lowercase, capitalize)
$fontSizeBurgerMenu: 40px; // Размер шрифта текста меню бургер (задаётся в: px, em, rem, vw, vh, %)
$textAlignBurgerMenu: center; // Горизонтальное выравнивание текста (start, end, left, right, center, justify)
$paddingTextBurgerMenu: 15px; // Размер отступа текста меню бургер (задаётся в: px, em, rem, vw, vh, %)
$speedExitMenuBurger: 5; // Скорость вылета меню бургер (от 1 до 9)

// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// ----------------------------------------------------------------------------------------------
