@import "_settings";

.intro {
    overflow: hidden;
    height: 100vh;
    background: #000;
    display: flex;
    align-items: center;
    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        // padding: 25% 0px;
        text-align: center;
    }

    &__logo {
        & img {
            width: 800px;
            @media (max-width: $pc) {
                width: 700px;
            }
            @media (max-width: $tablet) {
                width: 100%;
            }
        }
    }

    &__text {
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        @include adaptiv-font(25, 12);
        line-height: 150%;
        font-weight: 500;
        padding: 0px 0px 5vh 0px;

        @media (max-width: $mobileSmall) {
            padding: 0px 0px 25px 0px;
        }
    }

    &__button {
        @include changeBgColorButton(#ee4a39, #ee4a39, #ff2d16, #b43426);
        padding-top: 1.7em;
        padding-bottom: 1.7em;

        @media (max-width: $pc) {
            font-size: 0.9em;
        }

        @media (max-width: $mobile) {
            font-size: 0.8em;
        }

        @media (max-width: $mobileSmall) {
            font-size: 0.65em;
        }
    }
}
