.police {
    &__content {
        margin: 100px auto;

        & h1 {
            @include adaptiv-font(25, 18);
            font-weight: 700;
            text-align: center;
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        & p {
            @include adaptiv-font(18, 16);
            padding: 10px 0px;
            line-height: 25px;
        }
    }
}
