.top-button.show {
    bottom: 2%;
    transition: bottom 0.5s ease 0s;
}

.top-button {
    position: fixed;
    bottom: -100%;
    left: 2%;
    border-radius: 50%;
    width: 49px;
    height: 49px;
    background: #ff0000c2;
    color: #fff;
    opacity: 0.5;
    z-index: 999;

    transition: bottom 0.5s ease 0.25s;

    & span::before,
    & span::after {
        content: "";
        width: 20px;
        height: 2px;
        position: absolute;
        top: 22px;
        background-color: #fff;
    }

    & span::before {
        left: 21px;
        transform: rotate(45deg);
    }

    & span::after {
        right: 21px;
        transform: rotate(-45deg);
    }

    &:hover {
        opacity: 1;

        & span::before,
        & span::after {
            @keyframes top-down {
                0% {
                    top: 20px;
                }
                50% {
                    top: 25px;
                }
                100% {
                    top: 19px;
                }
            }
            animation: top-down 1.3s infinite linear;
        }
    }
}

@media (max-width: $tablet) {
    .top-button,
    .top-button.show {
        display: none;
    }
}
