.arrow {
    position: absolute;
    width: 80px;
    height: 50px;
    z-index: 10;
    top: 50%;
}

.arrow-left {
    left: 3%;
    right: auto;
    @media (min-width: 1600px) {
        left: 10%;
    }
}

.arrow-right {
    right: 3%;
    left: auto;
    @media (min-width: 1600px) {
        right: 10%;
    }
}

.arrow div {
    height: 100%;
    &:focus {
        outline: none;
    }
}

.arrow div::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 10px;
    top: 9px;
    background-color: #e76b05;
    transform: rotate(-45deg);
}

.arrow div::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 10px;
    top: 31px;
    background-color: #e76b05;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    transform: rotate(45deg);
}

.arrow-right div {
    transform: rotate(180deg);
}

.arrow-right:active {
    transform: translateX(5px);
    transition: transform 0.1s ease 0s;
}

.arrow-left:active {
    transform: translateX(-5px);
    transition: transform 0.1s ease 0s;
}
