.button {
    display: inline-block;
    vertical-align: middle;
    text-align: center;

    color: #000000;
    background-color: #ffffff;

    font-family: Montserrat;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.05em;
    line-height: 0em;

    padding: 1.5em 1em;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 0.4em;

    transition: all 0.5s ease 0s;

    & span {
        cursor: pointer;
    }
}

@mixin changeBgColorButton($btColor, $btShadow, $btHoverColor, $btActiveColor, $btTextColor: #fff) {
    color: $btTextColor;
    background-color: $btColor;
    box-shadow: 0px 0px 0.25em $btShadow;
    @media (min-width: $tablet) {
        &:hover {
            background-color: $btHoverColor;
        }
        &:active {
            background-color: $btActiveColor;
            box-shadow: 0px 0px 0px 0px;
            transition: all 0s ease 0s;
            & span {
                opacity: 0.7;
            }
        }
    }
}
